// Axf Framework, copyright (c) Lachlan Douglas
// Distributed under an MIT license: https://github.com/engines/Ax/LICENSE.md
;(function(root, factory) {
  if (typeof exports === 'object') {
    module.exports = {
      extend: (ax) => factory(ax)
    };
  } else {
    factory(root.ax)
  }
}(this, function(ax) {

{{{js}}}
}));
